<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <footer>
      <div class="container">
        <small class="copyright">
          &copy; Copyright 2022,
          <b
            >Coordinadora Nacional por el Centenario del 15 de Noviembre de
            1922.</b
          >
          Todos los derechos reservados
        </small>

        <small
          >Diseñada por
          <a href="https://allmylinks.com/definitelynotisai" target="_blank"
            ><b>Isaí Tobar</b></a
          ></small
        >
      </div>
    </footer>
    <div id="progressbar"><div class="dashed"></div></div>
  </body>
</html>
