<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script
      src="https://kit.fontawesome.com/f585a0c64d.js"
      crossorigin="anonymous"
    ></script>
    <script src="../js/jquery-3.6.0.min.js"></script>
  </head>
  <body>
    <header>
      <nav>
        <a class="logo-container" href="../index.html">
          <img id="logo" src="../public/svg/logo completo.svg" alt="" />
        </a>
        <input type="checkbox" id="check" />
        <label for="check" class="bar-btn">
          <i class="fa-solid fa-bars"></i
        ></label>
        <ul class="nav-menu">
          <li><a id="acerca" href="../index.html#about">Acerca de</a></li>
          <li>
            <a id="noticias" href="http://noticias.centenario15.com/"
              >Noticias</a
            >
          </li>
          <li><a id="org" href="">Organizadores</a></li>
          <li><a id="tienda" href="">Tienda</a></li>
          <li>
            <a id="goto" href="../pages/cronograma.html">Ver Calendario</a>
          </li>
        </ul>
      </nav>
    </header>
    <div class="noise"></div>
  </body>
  <script src="../js/header.js"></script>
</html>
